/* -----Reset---- */ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ----- General ---- */
body {
    background-color:#F6F8F9;
    font-family: "Roboto", sans-serif;
}
/* ---- Header -----  */
header {
    background-color: #ffffff;
    margin-bottom: 40px;
}


.title {
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    font-size: 40px;
}

#logo {
    vertical-align: middle;
    padding: 10px;
}

/* Main button */


.btn {
    background-color: #ffffff;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 5px;
}

.btn-blue {
    background-color: #14AAF5;
    color: #ffffff;
    border: 1px solid #14AAF5;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    margin-left: 8%;
}

.btn-grey {
    background-color: #C4CBD0;
    color: grey;
    border: 1px solid #C4CBD0;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
}

/* Main check */

.box {
    max-width: 800px;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 10px;
}


.categories {
    font-weight:900;
    font-size: 25px;
}

.arrow{
    font-size: 20px;
    padding: 5px;
    font-weight:900;
    font-size: 25px;
    margin-left:8%;
}

ul {
    list-style:none;
    margin-left: 6%;
    padding: 10px;
}
/* ----- Circle ----- */
.circle {
    display:inline-block;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border:1px solid green;
    line-height: 18px;
    color: green;
    padding-left: 2px;
}

.circle-negative{
    display:inline-block;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border:1px solid red;
    line-height: 18px;
    color: red;
    padding-left: 2px;

}

/* ------ Tag ------- */
.tag {
    display: inline-block;
    color: #ffffff;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 12px;
}

.tag-blue {
    background-color: #14AAF5 ;
}

.tag-purple {
    background-color: #ab5de6;
}

.tag-green {
    background-color: #2CC6AB;
}

.tag-orange {
    background-color: #FF9B00;
}

.tag-pink {
    background-color: #EC4A9D;
}

.tag-lightgreen {
    background-color: #A3D116;
}

.option {
    font-weight: 700;
    font-size: 15px;
    padding: 7px;
}