/* -----Reset---- */ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ----- General ---- */
body {
    background-color:#F6F8F9;
    font-family: "Roboto", sans-serif;
}
/* ---- Header -----  */
header {
    background-color: #ffffff;
    margin-bottom: 40px;
}


.title {
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    font-size: 40px;
}

#logo {
    vertical-align: middle;
    padding: 10px;
}

/* Main  */

.btn {
    background-color: #ffffff;
    width: 600px;
    padding: 13px;
    margin: 0 auto;
    border-radius: 10px;
}

.btn-blue {
    background-color: #14AAF5;
    color: #ffffff;
    border: 1px solid #14AAF5;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
}

.btn-grey {
    background-color: #C4CBD0;
    color: grey;
    border: 1px solid #C4CBD0;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
}
